<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>256284468313-9l32fdv43ncoqqnkbc4eckchq86f9hjm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.256284468313-9l32fdv43ncoqqnkbc4eckchq86f9hjm</string>
	<key>API_KEY</key>
	<string>AIzaSyCilUGMuFj0kSVYXKMrqf2wpTMugbJlSiw</string>
	<key>GCM_SENDER_ID</key>
	<string>256284468313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.manhuntIOS.io</string>
	<key>PROJECT_ID</key>
	<string>manhunt-7bbae</string>
	<key>STORAGE_BUCKET</key>
	<string>manhunt-7bbae.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256284468313:ios:95b9e36095a46ff270bd48</string>
	<key>DATABASE_URL</key>
	<string>https://manhunt-7bbae-default-rtdb.firebaseio.com</string>
</dict>
</plist>